body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #1A3A73;
  background-color: #6E7486;
  font-size: 16px;
  line-height: 1.48;
  margin: 0;
}

#app {
  display: flex;
  align-items: center;
  min-height: 100vh;
  /* padding: 16px; */
}

h3 {
  font-size: 32px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 16px;
}

h4 {
  font-size: 24px;
  font-weight: normal;
}

.card {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 640px;
  background-color: #CED4E8;
  border-radius: 8px;
  margin: 0 auto;
  padding: 42px 0 64px 0;
}

.btn {
  display: inline-block;
  border: 1px solid;
  border-color: transparent;
  border-radius: 24px;
  font-weight: bold;
  font-size: 16px;
  line-height: 48px;
  margin: 8px;
  padding: 0 32px;
}

.btn:hover {
  cursor: pointer;
}

.btn--primary {
  background-color: #1A3A73;
  color: white;
}

.btn--outline {
  color: #1A3A73;
  background-color: white;
  border-color: #5083D2;
}

.final {
  background-image: url('../assets/lighting.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  width: 100%;
  color: white;
}

.final-title {
  font-size: 120px;
  font-family: serif;
  letter-spacing: 36px;
}