<template>
  <div id="app">
    <div
      v-show="active === 0"
      class="card"
    >
      <h3>👻</h3>
      <h3>Apa judul Azab versi kamu?</h3>
      <button
        @click="goTonextStep()"
        class="btn btn--primary"
      >Aku mau tau</button>
    </div>

    <div
      v-show="active === 1"
      class="card"
    >
      <h4>Baru-baru ini azab dihujat, katanya tidak masuk akal. Apakah ✅ tuduhan itu? 🤔</h4>
      <button
        @click="goTonextStep()"
        class="btn btn--primary"
      >Heh buruan, aku mau tau</button>
    </div>

    <div
      v-show="active === 2"
      class="card"
    >
      <h4>Coba sini, berapa angka bulan lahir kamu?</h4>
      <div>
        <button
          v-for="i in 12"
          :key="i"
          class="btn btn--outline"
          @click="selectMonth(i)"
        >{{i}}</button>
      </div>
    </div>

    <div
      v-show="active === 3"
      class="card"
    >
      <h4>Dikit lagi, kalau angka terakhir dari 📅 lahir kamu berapa?</h4>
      <div>
        <button
          v-for="i in 10"
          :key="i"
          class="btn btn--outline"
          @click="selectBirthDay(i)"
        >{{i}}</button>
      </div>
    </div>

    <div
      v-show="active === 4"
      class="card"
    >
      <h4>Beneran ini terakhir, kalau huruf pertama dari nama kamu apa?</h4>
      <div>
        <button
        v-for="a in alphabet"
        :key="a"
        @click="selectFirstLetter(a)"
        class="btn btn--outline"
      >{{a}}</button>
      </div>
    </div>

    <div
      v-show="active === 5"
      class="card"
    >
      <h4>Empat kali empat sama dengan enam belas. Siap tidak siap, ini adalah judul azab versi kamu. </h4>
      <button
        @click="goTonextStep()"
        class="btn btn--primary"
      >Aku siap</button>
    </div>

    <div
      v-show="active === 6"
      class="final"
    >
      <h1 class="final-title">AZAB</h1>
      <h3>{{result}}</h3>
      <div>
        <button
          @click="reset()"
          class="btn btn--primary"
        >Mulai Lagi</button>
        <button
          @click="reset()"
          class="btn btn--primary"
        >Bagikan</button>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'app',
  data: function () {
    return {
      active: 0,
      alphabet: ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'],
      month: null,
      birthDay: null,
      firstLetter: null,
      result: 'JURAGAN TAHU BULAT MATI TERGORENG DADAKAN, DIKUBUR ANGET-ANGET'
    }
  },
  methods: {
    goTonextStep (nextStep) {
      this.active += 1
    },
    selectMonth (selectedMonth) {
      this.month = selectedMonth
      this.goTonextStep()
    },
    selectBirthDay (selectedBirthDay) {
      this.birthDay = selectedBirthDay
      this.goTonextStep()
    },
    selectFirstLetter (selectedFirstLetter) {
      this.firstLetter = selectedFirstLetter
      this.goTonextStep()
    },
    generateTitle () {

    },
    reset () {
      this.active = 0
      this.month = null
      this.birthDay = null
      this.firstLetter = null
      this.result = null
    }
  }
}
</script>
